/* FONTS */

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #444444;
  --basic-grey: #dcdcdc;
  --basic-gray-light: #ebebeb;
  --basic-light: #f0f0f0;
  --basic-white: #ffffff;
  --basic-yellow: #ffe17f;
  --basic-yellow-hover: #ffc700;
  --basic-violet: #af4fff;
  --basic-error: #ff3d3d;
  --basic-warning: #fd912e;
  --basic-success: #08af00;
}

/* GLOBAL */

.page {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  font-weight: 800;
  color: var(--basic-black);
  text-transform: uppercase;
}

.button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  font-weight: 800;
  color: var(--basic-black);
  text-transform: uppercase;
  border: none;
  background: var(--basic-yellow);
  box-shadow: 0 -16px 0 var(--basic-white) inset, 0 16px 0 var(--basic-white) inset;
}

/* BASE STYLES index */

.navigation-search input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
}

.catalog-menu-button {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--basic-black);
  text-align: center;
  cursor: pointer;
}

.slider-prev,
.slider-next {
  background-color: var(--basic-white);
  border: none;
}

.slider-pagination {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-pagination-slogan {
  font-size: 50px;
  line-height: 50px;
}

.slider-pagination-moreinfo {
  width: 220px;
}

.slider-pagination-parameter {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.slider-pagination-metrics {
  padding: 0;
  margin: 0;
  font-size: 36px;
}

.main-navigation-list {
  line-height: 24px;
  text-transform: none;
  display: flex;
  justify-content: space-between;
}

.main-navigation-link {
  width: 160px;
  height: 160px;
  background-color: var(--basic-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-navigation-item:nth-child(2) .main-navigation-link {
  align-items: flex-end;
}

.services-button-item:first-child > button {
  color: var(--basic-yellow);
  background-color: var(--basic-black);
  text-transform: uppercase;
  box-shadow: none;
}

.services-button {
  width: 280px;
}

.delivery-item-title {
  font-size: 50px;
  line-height: 50px;
  text-transform: none;
}

.rare-product {
  width: 1160px;
  height: 100px;
  display: flex;
}

.rare-product-car {
  width: 125px;
  height: 100px;
  background-color: var(--basic-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rare-product-title {
  order: 1;
  margin: auto;
  font-size: 20px;
  line-height: 23.48px;
  text-transform: uppercase;
}

.rare-product-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
  cursor: pointer;
  background-color: var(--basic-grey);
}

.info-device-title {
  font-size: 50px;
  line-height: 50px;
  text-transform: none;
}

.info-delivery-list {
  line-height: 20px;
  font-weight: 700;
}

.info-device-moreinfo {
  width: 270px;
}

.contacts-title {
  font-size: 50px;
  line-height: 50px;
  text-transform: none;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.contacts-address {
  font-style: normal;
}

.contacts-button {
  width: 260px;
}

.newsletter-title {
  font-size: 50px;
  line-height: 50px;
  text-transform: none;
}

.newsletter-button {
  width: 253px;
  height: 57px;
  box-shadow: none;
  background-color: var(--basic-light);
}

.footer-contacts,
.footer-phone-link {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--basic-grey);
}

/* BASE STYLES catalog */

.catalog-header-title {
  font-size: 50px;
  line-height: 50px;
  text-transform: none;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 18.96px;
}

.catalog-filter-title {
  line-height: 20px;
  font-weight: 700;
}

.catalog-filter-button {
  width: 210px;
}

.select-control-title {
  font-size: 16px;
  line-height: 18.78px;
}

.product-card-title {
  line-height: 20px;
  font-weight: 700;
}

.product-card-price {
  line-height: 21.33px;
}

.product-list-button {
  width: 1062px;
  font-size: 16px;
  line-height: 18.78px;
  box-shadow: none;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-grey);
}

.pagination-item {
  font-size: 16px;
  line-height: 20px;
}
