/* FONTS */

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

.page {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
}

.icons {
	background: url("../images/icons-list.svg");
	width: 16px;
	height: 16px;
	display: inline-block;
}

.icon-search {
  background-position: -20px -182px;
}

.icon-logon {
  background-position: -20px -81px;
}

.icon-compare {
  background-position: -20px -250px;
}

.icon-recycled {
  background-position: -20px -217px;
}

.icon-closed {
  background-position: -20px -281px;
}

.icon-vk {
  background-position: -20px -459px;
}

.icon-youtub {
  background-position: -20px -429px;
}

.icon-twitter {
  background-position: -20px -396px;
}

.icon-up {
  background-position: -20px -367px;
}

.icon-down {
  background-position: -20px -338px;
}

.icons-catalog {
	background: url("../images/index-catalog-list.svg");
	width: 160px;
	height: 160px;
	display: inline-block;
}

.icon-vr {
  /* 20 */
  background-position: -20px -20px;
}

.icon-monopod {
  /* 20+160+2 */
  background-position: -20px -182px;
}

.icon-action {
  /* 20+162+162 */
  background-position: -20px -344px;
}

.icon-fitnes {
  background-position: -20px -506px;
}

.icon-watch {
  background-position: -20px -668px;
}

.icon-copter {
  background-position: -20px -830px;
}
