/* FONTS */

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #444444;
  --basic-circle: #B3B3B3;
  --basic-grey: #dcdcdc;
  --basic-gray-light: #ebebeb;
  --basic-light: #f0f0f0;
  --basic-white: #ffffff;
  --basic-yellow: #ffe17f;
  --basic-yellow-hover: #ffc700;
  --basic-violet: #af4fff;
  --basic-error: #ff3d3d;
  --basic-warning: #fd912e;
  --basic-success: #08af00;
}

/* FLEXBOX Sticky Footer */

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 1440px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-wraper {
  flex-grow: 1;
}

/* GLOBAL */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.66;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.button {
  padding: 0;
  min-width: 160px;
  min-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 1.22;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: var(--basic-black);
  background: var(--basic-yellow);
  box-shadow: 0 -16px 0 var(--basic-white) inset, 0 16px 0 var(--basic-white) inset;
  text-transform: uppercase;
}

/* BASE STYLES index */

.header-index {
  margin-top: 40px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 60px;
  background-color: var(--basic-yellow);
}

.header-logo {
  position: relative;
  top: -22px;
  color: var(--basic-black);
  text-decoration: none;
}

.user-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.navigation-search input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--basic-black);
}

.navigation-search input[type="search"] {
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  color: var(--basic-black);
  background-color: transparent;
}

.navigation-search button {
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.66;
  font-weight: 400;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* .navigation-search::before {
  position: absolute;
  top: 4px;
  right: 0;
  width: 20px;
  height: 20px;
  content: "";
  background-color: pink;
  background-image: url("../images/icon-search.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

.user-navigation-item:first-child {
  width: 517px;
}

.user-navigation-link {
  min-width: 65px;
  min-height: 40px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: var(--basic-black);
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-catalog {
  width: 293px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-catalog-link {
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 1.22;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-catalog-button {
  width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", 'Arial', sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid var(--basic-circle);
  border-radius: 50%;
  fill: var(--basic-circle);
  cursor: pointer;
}

.site-navigation-list {
  margin: 0;
  padding: 0;
  min-width: 471px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 1.22;
  font-weight: 800;
  letter-spacing: 3.2px;
  margin-right: -3.2px;
  text-align: right;
  text-transform: uppercase;
  list-style: none;
}

.site-navigation-link {
  min-width: 127px;
  min-height: 50px;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: var(--basic-black);
}

.main-index .container {
  padding: 0;
  background-color: var(--basic-white);
}

.big-number {
  min-height: 120px;
  background-color: var(--basic-yellow);
}

.big-number img {
  padding: 0;
  margin-left: auto;
  margin-right: 50px;
  display: block;
}

.gadget {
  display: flex;
  justify-content: space-between;
}

.slider-pagination-pic {
  width: 560px;
  min-height: 336px;
  margin: 0;
  list-style: none;
}

.slider-prev {
  padding: 0;
  position: relative;
  z-index: 2;
  top: 60px;
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-next {
  padding: 0;
  position: relative;
  z-index: 2;
  left: 500px;
  top: 60px;
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-pagination-pic img {
  display: inline-block;
  position: relative;
  left: -15px;
  top: -140px;
  z-index: 1;
}

.slider-pagination-action {
  display: block;
  width: 560px;
  min-height: 336px;
}

.slider-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-pagination-slogan {
  position: relative;
  top: -30px;
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 1;
  font-weight: 800;
}

.slider-pagination-moreinfo {
  min-width: 220px;
  margin-right: 240px;
  color: var(--basic-black);
  text-decoration: none;
}

.slider-pagination-features {
  padding-right: 20px;
  display: inline-flex;
  flex-direction: column-reverse;
}

.slider-pagination-parameter {
  font-size: 16px;
}

.slider-pagination-metrics {
  margin: 0;
  font-size: 36px;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 1.22;
  font-weight: 800;
  list-style: none;
}

.main-navigation-item:not(:nth-child(2)) .main-navigation-link {
  color: var(--basic-black);
  background-image: url("../images/icon-vr.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.main-navigation-item:nth-child(2) .main-navigation-link {
  color: var(--basic-black);
  background-image: url("../images/icon-monopod.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  text-decoration: none;
}

.main-navigation-item:nth-child(3) .main-navigation-link {
  background-image: url("../images/icon-action.svg");
}

.main-navigation-item:nth-child(4) .main-navigation-link {
  background-image: url("../images/icon-fitnes.svg");
}

.main-navigation-item:nth-child(5) .main-navigation-link {
  background-image: url("../images/icon-watch.svg");
}

.main-navigation-item:nth-child(6) .main-navigation-link {
  background-image: url("../images/icon-copter.svg");
}

.main-navigation-link {
  min-width: 160px;
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-yellow);
}

.main-navigation-link p {
  position: relative;
  top: 120px;
}

.services {
  margin-top: 150px;
  background-color: var(--basic-light);
}

.services .container {
  padding: 0;
  display: flex;
  background-color: var(--basic-light);
}

.services-button-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-button-item:first-child>button {
  color: var(--basic-yellow);
  background-color: var(--basic-black);
  border: none;
  text-transform: uppercase;
  box-shadow: none;
}

.services-button-item:not(:first-child)>button {
  border: none;
  box-shadow: 0 -16px 0 var(--basic-light) inset, 0 16px 0 var(--basic-light) inset;
}

.services-button {
  min-width: 280px;
}

.services-line {
  width: 7px;
  height: 319px;
  background-color: var(--basic-black);
}

.delivery-item {
  margin-left: 116px;
  width: 452px;
  min-height: 174px;
}

.delivery-item-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 1;
  font-weight: 800;
  letter-spacing: normal;
  text-transform: none;
}

.services img {
  margin-left: auto;
  align-self: center;
}

.rare-product {
  margin-top: 50px;
  display: flex;
  align-items: center;
  background-color: var(--basic-light);
}

.rare-product-car {
  width: 125px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-yellow);
  background-image: url("../images/icon-car.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.rare-product-title {
  width: 950px;
  min-height: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  border: none;
}

.rare-product-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: auto 0;
  margin-right: 40px;
  background-color: var(--basic-grey);
  border-radius: 50%;
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info-device {
  min-width: 520px;
}

.info-device-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 1;
  font-weight: 800;
}

.info-delivery-list {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight: 700;
  list-style: none;
}

.info-delivery-item::before {
  content: "• ";
  color: var(--basic-yellow);
}

.info-device-moreinfo {
  min-width: 270px;
  color: var(--basic-black);
  text-decoration: none;
}

.info-contacts {
  min-width: 532px;
}

.contacts-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 1;
  font-weight: 800;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: var(--basic-black);
  text-decoration: none;
}

.contacts-button {
  min-width: 260px;
  color: var(--basic-black);
  text-decoration: none;
}

.newsletter {
  margin-top: 50px;
  padding-top: 50px;
  background-color: var(--basic-light);
}

.newsletter .container {
  background-color: var(--basic-light);
}

.newsletter-row-up {
  display: flex;
  justify-content: space-between;
}

.newsletter-title {
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 1;
  font-weight: 800;
}

.newsletter-text {
  margin: 0;
}

.newsletter-row-down {
  display: flex;
  justify-content: space-between;
}

.newsletter-form input[type="email"] {
  margin: 0;
  color: var(--basic-light);
  background-color: transparent;
}

.newsletter-button {
  min-width: 253px;
  min-height: 57px;
  background-color: var(--basic-light);
  box-shadow: none;
  border: none;
}

.footer-index {
  background-color: var(--basic-dark);
}

.footer-index .container {
  padding: 50px 0;
  display: flex;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer-column-left {
  width: 240px;
  margin-right: 119px;
  min-height: 182px;
}

.footer-contacts {
  margin-top: 25px;
  width: 240px;
  min-height: 40px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
}

.footer-left-line {
  margin-top: 50px;
  width: 80px;
  height: 7px;
  background-color: var(--basic-yellow-hover);
}

.footer-column-center {
  align-self: center;
}

.footer-column-center .navigation-list {
  min-width: 444px;
}

.footer-social {
  width: 150px;
  min-height: 40px;
  margin: 0 auto;
  margin-top: 25px;
}

.footer-social-list {
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-index .site-navigation-link {
  color: white;
}

.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--basic-grey);
  border-radius: 50%;
  cursor: pointer;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.footer-column-right {
  max-width: 175px;
  min-height: 110px;
  align-self: center;
  margin-left: auto;
}

.footer-phone-link {
  min-width: 174px;
  align-self: center;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--basic-white);
  text-align: end;
  text-decoration: none;
}

.copyright-logo {
  display: block;
  margin-top: 20px;
}

/* BASE STYLES catalog */

.main-catalog .container {
  background-color: var(--basic-white);
}

.catalog-header-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 1;
  font-weight: 800;
  letter-spacing: normal;
  text-transform: none;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  font-size: 16px;
  line-height: 1.18;
  list-style: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 20px;
}

.breadcrumbs-link {
  color: var(--basic-black);
  text-decoration: none;
}

.catalog-products {
  background-color: var(--basic-gray-light);
}

.catalog-products .container {
  display: flex;
  background-color: var(--basic-gray-light);
}

.catalog-filter {
  width: 320px;
  min-height: 1380px;
  padding-right: 40px;
}

.catalog-subtitle {
  display: block;
  line-height: 1.11;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-products fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-title {
  line-height: 1.11;
  font-weight: 700;
}


.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.catalog-filter-button {
  min-width: 210px;
}

.catalog-column {
  width: 840px;
  min-height: 1380px;
  background-color: var(--basic-white);
}

.select-control {
  margin: 0;
  padding: 20px 40px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: var(--basic-gray-light);
}

.select-control-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 800;
  text-transform: uppercase;
}

.product-card-list{
  margin: 0;
  padding: 70px 40px;
  width: 840px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--basic-white);
  list-style: none;
}

.product-card {
  width: 360px;
  min-height: 452px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  line-height: 1.11;
  font-weight: 700;
  color: var(--basic-black);
}

.product-card-price {
  line-height: 21.33px;
}

.product-list-button {
  margin: 40px 40px 20px;
  width: 760px;
  min-height: 70px;
  font-size: 16px;
  line-height: 1.18;
  box-shadow: none;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-grey);
}

.column-pagination {
  margin: 20px 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-gray-light);
}

.column-pagination-list {
  display: flex;
  list-style: none;
}

.column-pagination-link {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  color: var(--basic-circle);
  text-decoration: none;
}

.pagination-button {
  width: 128px;
  min-height: 71px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
}






.footer-catalog {
  background-color: var(--basic-dark);
}

.footer-catalog .container {
  width: 1140px;
}
